#ees-timeline {
	width: 90%;
	max-width: 1240px;
	margin: 0 auto;

	h1 {
		text-align: center;
		margin-top: 2.5rem;
		font-size: 2.5rem;
	}

	.timeline-event {
		background-color: var(--monoaccent);
		padding: 1rem;
		border-radius: 10px;
		margin-top: 1rem;
		margin-bottom: 2rem;

		.ees-track-container {
			margin-bottom: 0;
			background-color: var(--bg);
		}

		.ees-timeline-playlist {
			display: flex;
			gap: 1.5rem;
			flex-direction: row-reverse;
			justify-content: flex-end;
			align-items: center;
			background-color: var(--bg);
			border-radius: 15px;
			transition: border-radius 0.3s ease-in-out;

			.ees-timeline-playlist-name {
				font-size: 1.5rem;
				font-weight: bold;
				padding-bottom: 1rem;
				display: inline-block;
			}

			.ees-playlist-cover-wrapper {
				width: 150px;
				height: 150px;
				border-radius: 10%;
				overflow: hidden;
				transition: border-radius 0.3s ease-in-out;

				.ees-playlist-cover {
					object-fit: cover;
					transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
					transform-origin: bottom;
				}
			}

			&:hover,
			&:focus-visible {
				outline: none;
				border-radius: 45px;

				.ees-playlist-cover-wrapper {
					border-radius: 30%;

					.ees-playlist-cover {
						transform: scale(1.15);
						filter: blur(0.6px);
						-ms-filter: blur(0.6px);

						img {
							opacity: 1;
							-webkit-opacity: 1;
							-moz-opacity: 1;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	#ees-timeline {
		width: 100%;
	}
}
