#ees-twitter-login-wrapper {
	margin-bottom: 1rem;

	#ees-twitter-login {
		display: block;
		background-color: #55aced;
		color: #fff;
		border-radius: 5px;
		padding: 1rem;
		width: 70%;
		margin: 0 auto;
		font-size: 1.1rem;
		font-weight: bold;
		text-align: center;
		margin-bottom: 0.3rem;
	}
}
