$themes: (
	light: (
		alwayslight: #fff,
		alwayslight2: #eaeaea,
		alwaysdark: #000,
		alwaysdark2: #333,
		eggsyellow: #fdd001,
		themedyellow: #fc7625,
		highlight: #d60010,
		shadow3: rgba(0, 0, 0, 0.3),
		shadow5: rgba(0, 0, 0, 0.5),
		shadow6: rgba(0, 0, 0, 0.6),
		bg: #fff,
		playerbg: #fdd001,
		activeelement: #d60010,
		rangebg: #fff,
		menubg: #fff,
		monoaccent: #f2f2f2,
		monoaccent2: #eaeaea,
		monoaccent3: #ccc,
		monoaccentinv: #1e1e1e,
		text: #000,
		profiletext: #333,
		textlight: #333,
		textlighter: #666,
		inverted: invert(0),
		inverseinverted: invert(1),
		"gold": #ffd700,
		gold-hover: #ffb400,
		"silver": #c0c0c0,
		silver-hover: #b0b0b0,
		bronze: #cd7f32,
		bronze-hover: #b86b2d,
		banner-gradient:
			linear-gradient(
				to bottom left,
				rgba(158, 158, 158, 0.7) 0%,
				rgba(223, 223, 223, 0.9) 100%
			),
	),
	dark: (
		alwayslight: #fff,
		alwayslight2: #eaeaea,
		alwaysdark: #000,
		alwaysdark2: #333,
		eggsyellow: #fdd001,
		themedyellow: #fdd001,
		highlight: #d60010,
		shadow3: rgba(0, 0, 0, 0.3),
		shadow5: rgba(0, 0, 0, 0.5),
		shadow6: rgba(0, 0, 0, 0.6),
		bg: #000,
		playerbg: #1e1e1e,
		activeelement: #fdd001,
		rangebg: #fdd001,
		menubg: #1e1e1e,
		monoaccent: #1e1e1e,
		monoaccent2: #2e2e2e,
		monoaccent3: #444,
		monoaccentinv: #f2f2f2,
		text: #fff,
		profiletext: #fff,
		textlight: #ccc,
		textlighter: #999,
		inverted: invert(1),
		inverseinverted: invert(0),
		"gold": #ffd700,
		gold-hover: #ffb400,
		"silver": #c0c0c0,
		silver-hover: #b0b0b0,
		bronze: #cd7f32,
		bronze-hover: #b86b2d,
		banner-gradient:
			linear-gradient(
				to bottom left,
				rgba(97, 97, 97, 0.6) 0%,
				rgba(32, 33, 32, 0.8) 100%
			),
	),
);

@each $name, $map in $themes {
	.theme-#{$name} {
		@each $key, $value in $map {
			--#{$key}: #{$value};
		}
	}
}

//global props
body:not(table) {
	background-color: var(--bg);
	color: var(--textlight);
	a,
	a:hover {
		color: var(--text);
	}
}

.m-contents_app:not(table) {
	background-color: var(--monoaccent);
	p {
		color: var(--textlight);
	}
}

.m-btn_pagetop:not(table) a {
	color: var(--textlight);
}

footer:not(table) {
	background-color: var(--monoaccent);
	.footer_sponsor:before,
	a {
		color: var(--text);
	}

	.footer_logo img {
		filter: var(--inverted);
	}
}

#info_apple2:not(table) {
	border: 5px solid var(--monoaccent);
	background-color: var(--bg);
	dt {
		color: var(--textlight);
	}
	dd {
		color: var(--textlighter);
	}
}

.m-mainvisual .slider-pro:not(table) {
	background-color: var(--bg);
}

.sp-button:not(table) {
	background-color: var(--monoaccent3);
	&.sp-selected-button {
		background-color: var(--textlight);
	}
}

header:not(table) {
	background-color: var(--bg);
	border-bottom: var(--monoaccent3);
	color: var(--textlight);

	#nav-toggle span {
		background: var(--text);
	}

	.logo {
		background-color: var(--bg);
	}

	.globalnav {
		background: var(--bg);
		li a:not(span),
		li span:not(a) {
			color: var(--textlight);
		}

		.gn_submenu {
			background-color: var(--bg);
			border-bottom: 1px solid var(--monoaccent2);
			border-top: 1px solid var(--monoaccent2);
			li a:not(span),
			li span:not(a) {
				color: var(--textlight);
			}
		}
	}

	.globalnav li,
	.m-header_submenu li {
		border-bottom: 1px solid var(--monoaccent2);
	}

	.artistSearchBox {
		&,
		.artistSearchBox_inner {
			background-color: var(--bg);
		}
	}

	.artistSearch {
		.artistSearch_genre li a {
			color: var(--textlight);
			background-color: var(--monoaccent);
			border: 1px solid var(--monoaccent2);

			&:hover {
				background-color: var(--eggsyellow);
				color: var(--alwaysdark);
			}
		}

		.artistSearch_areaBox {
			.artistSearch_areaName {
				background-color: var(--monoaccent);

				&::after {
					filter: var(--inverted);
				}
			}

			ul {
				border-left: 5px solid var(--monoaccent);
				border-right: 5px solid var(--monoaccent);
				border-bottom: 5px solid var(--monoaccent);

				li {
					border-bottom: 2px solid var(--monoaccent);

					a:hover {
						background-color: var(--eggsyellow);
						color: var(--alwaysdark);
					}
				}
			}
		}

		.artistSearchBox input[type="text"] {
			background-color: var(--monoaccent);
			border: 1px solid var(--textlight);
			color: var(--textlighter);
		}
	}
}

.m_octagon:not(table) {
	&::before,
	&::after {
		border-top: 32px solid var(--eggsyellow);
	}

	& > span {
		&::before,
		&::after {
			border-bottom: 32px solid var(--eggsyellow);
		}
	}

	&::before,
	& > span::before {
		border-right: 32px solid transparent;
	}

	&::after,
	& > span::after {
		border-left: 32px solid transparent;
	}
}

.mainv:not(table)::before {
	background: var(--bg);
}

.forartistInner:not(table) .contents dd a {
	background: var(--text);
	color: var(--bg);
	border: none;

	&:hover {
		background: var(--eggsyellow);
		color: var(--alwaysdark);
	}
}

.listnerContent:not(table) {
	background: var(--monoaccent);

	&::before,
	&::after {
		background: var(--bg);
	}
}

.eggsisscon:not(table) {
	background: var(--bg);
	&::before {
		background: var(--bg);
	}
}

.pertnerCon:not(table)::after {
	background: var(--bg);
}

.tit_readtxt:not(table) {
	color: var(--textlighter);
}

.m-pagination:not(table) li {
	a {
		background-color: var(--monoaccent);

		&:hover {
			background-color: var(--eggsyellow);
			color: var(--alwaysdark);
		}
	}

	.pagination_arrow {
		background-color: var(--monoaccent) !important;

		&:not(:hover) img {
			filter: var(--inverted);
		}

		&:hover {
			background-color: var(--eggsyellow) !important;
			color: var(--alwaysdark) !important;
		}
	}

	span {
		background-color: var(--eggsyellow);
		color: var(--alwaysdark);
	}
}

.m-main_article_list:not(table) {
	.mult_ellipsis p {
		color: var(--text);
	}

	.article_date {
		color: var(--textlighter);
	}
}

//what the fuck
header:not(table)
	.globalnav
	li:not(#gn_notice):not(#gn_upload):not(#gn_curator)
	> a
	span:after,
header
	.globalnav
	li:not(#gn_notice):not(#gn_upload):not(#gn_curator)
	> span
	span:after {
	background: var(--monoaccentinv);
}

.dayweekNav:not(table) {
	border: none;

	li {
		span {
			background-color: var(--eggsyellow);
			color: var(--alwaysdark);
		}

		a {
			background-color: var(--monoaccent);
			color: var(--textlight);

			&:hover {
				background-color: var(--eggsyellow);
				color: var(--alwaysdark);
			}
		}
	}
}

.ranking_category:not(table) li {
	span {
		color: var(--themedyellow);
		border-bottom: 3px solid var(--themedyellow);
	}

	a {
		color: var(--textlight);
		border-bottom: none;

		&:hover {
			color: var(--themedyellow);
		}
	}
}

.btn_more:not(table) .btn_radius {
	border: 1px solid var(--textlight);
	color: var(--textlight);

	&:hover {
		background-color: var(--eggsyellow);
		color: var(--alwaysdark);
		border: 1px solid var(--eggsyellow);
	}
}

.loading img,
.sp-arrow {
	filter: var(--inverted);
}

.MuiSvgIcon-fontSizeMedium {
	width: 24px;
	height: 24px;
}
