@use "../popouts.scss";

#ees-sync {
	top: 144px;

	#ees-sync-status {
		white-space: pre-line;
	}

	#ees-sync-button {
		&.syncing {
			background: repeating-linear-gradient(
				45deg,
				var(--menubg),
				var(--eggsyellow) 10%,
				var(--menubg) 20%
			);
			background-size: 300%;
			animation: sync-animation 10s linear infinite;

			svg {
				animation: sync-rotate 1.8s infinite;
			}
		}

		&.errored {
			background-color: var(--highlight);

			svg {
				color: var(--alwayslight);
			}
		}
	}
}

@keyframes sync-animation {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 99% 50%;
	}
}

@keyframes sync-rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-180deg);
	}
}
