@use "../popouts.scss";

#ees-sync {
	top: 144px;

	#ees-sync-status {
		white-space: pre-line;
	}

	#ees-sync-button {
		&.syncing {
			background: repeating-linear-gradient(
				45deg,
				var(--menubg),
				var(--eggsyellow) 10%,
				var(--menubg) 20%
			);
			background-size: 300%;
			animation: sync-animation 10s linear infinite;

			svg {
				animation: sync-rotate 1.8s infinite;
			}
		}

		&.errored {
			background-color: var(--highlight);

			svg {
				color: var(--alwayslight);
			}
		}
	}
}

.ees-sync-button-wrapper {
	margin-bottom: 1rem;

	summary {
		cursor: pointer;
	}

	p {
		word-break: break-word;
	}

	button {
		padding: 0.5rem 1rem;
		font-size: 1rem;
		background-color: var(--eggsyellow);
		color: var(--alwaysdark2);

		&:hover,
		&:focus-visible {
			outline: none;
			background-color: var(--highlight);
			color: var(--alwayslight2);
		}
	}
}

progress {
	width: 100%;
	height: 0.5rem;
	background-color: var(--monoaccent2);
	border-radius: 0.5rem;

	&::-webkit-progress-bar {
		background-color: var(--monoaccent2);
	}

	&::-webkit-progress-value {
		background-color: var(--eggsyellow);
	}

	&::-moz-progress-bar {
		background-color: var(--eggsyellow);
	}
}

@keyframes sync-animation {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 99% 50%;
	}
}

@keyframes sync-rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-180deg);
	}
}
