.ees-track {

  display: flex;
  cursor: pointer;
  padding: 4px;

  &:hover {
    background-color: #FDD001;

    .ees-track-info .ees-artist-name {
      color: #D60010;
    }
  }

  .ees-track-thumb {
    object-fit: cover;
    margin-right: 24px;
  }

  .ees-track-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;

    .ees-track-title {
      font-size: 1.5rem;
    }

    .ees-artist-name {
      font-size: 0.7rem;
      color: #666;
      margin-bottom: 6px;
    }

    .ees-track-details{
      display: flex;
      flex-direction: row;
      margin-bottom: 11px;

      .ees-data-icon {
        width: 12px;
        height: 12px;
      }
      .ees-data-count {
        font-size: 12px;
        margin-left: 3px;
      }

      &>div {
        display: flex;
        align-items: center;

        &:not(:last-child) .ees-data-count::after {
          content: "ãƒ»";
        }
      }
    }
  }

  &.ees-track-normal {
    .ees-track-thumb {
      width: 100px;
      height: 100px;
    }
    

  }

}