.ees-track-container {
  margin-bottom: 70px;
}

.clearfix::before {
  border: none !important;
}

.ees-track {

  display: flex;
  cursor: pointer;
  padding: 4px;
  box-sizing: content-box;

  &:hover {
    background-color: #FDD001;

    .ees-track-info .ees-artist-name {
      color: #D60010;
    }
  }

  .ees-track-thumb {
    object-fit: cover;
    margin-right: 24px;
  }

  .ees-track-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;

    .ees-track-title {
      font-size: 1.5rem;
    }

    .ees-artist-name {
      font-size: 0.7rem;
      color: #666;
      margin-bottom: 6px;
    }

    .ees-track-details{
      display: flex;
      flex-direction: row;
      margin-bottom: 11px;

      .ees-data-icon {
        width: 12px;
        height: 12px;
      }
      .ees-data-count {
        font-size: 12px;
        margin-left: 3px;
      }

      &>div {
        display: flex;
        align-items: center;

        &:not(:last-child) .ees-data-count::after {
          content: "・";
        }
      }
    }
  }

  .ees-track-right {
    display:flex;
    margin-left: auto;
    margin-right: 50px;

    .ees-track-like svg {
      fill: #D60010;
      width: 32px;
      height: 32px;
    }
  }

  .ees-track-expandable {
    position: absolute;
    height: min-content;
    right: 0;
    margin-top: -2px;

    summary {
      list-style: none;
      height: 100px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: auto;
    }

    &[open] {

      .ees-track-menu{
        border-radius: 0 0 5px 5px;
        overflow: hidden;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
      }
      
      summary {
        height: 62px;
        align-items: flex-end;
      }
    }

    li {
      background-color: white;
      padding: 0.5rem 0.75rem;

      &:hover {
        background-color: #D60010;
        color: #FFF;
      }
    }
  }

  &:hover .ees-track-expandable summary {
    background-color: #FDD001;
  }

  &.ees-track-normal {

    height: 100px;

    .ees-track-thumb {
      width: 100px;
      height: 100px;
    }
  }
}
