a:not(table):hover {
	.ees-user-capsule-image-wrapper {
		img {
			filter: blur(0.6px);
			-ms-filter: blur(0.6px);
			opacity: 1;
			-webkit-opacity: 1;
			-moz-opacity: 1;
			transform: scale(1.15);
		}
	}
}

.ees-user-capsule {
	position: relative;
	background-size: cover;
	z-index: 0;
	background-position: 50% 35%;
	overflow: hidden;
	display: block;
	border-radius: 75px;

	&::before {
		content: "";
		filter: blur(5px);
		z-index: -2;
		position: absolute;
		background: inherit;
		inset: 5px;
	}

	&::after {
		background-image: var(--banner-gradient);
		content: "";
		z-index: -1;
		position: absolute;
		inset: 0;
	}

	.ees-user-capsule-inner {
		display: flex;
		gap: 1.5rem;
		overflow: hidden;
		height: 150px;

		.ees-user-capsule-image-wrapper {
			border-radius: 50%;
			overflow: hidden;
			width: 150px;
			height: 150px;
			flex-shrink: 0;

			img {
				transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
				object-fit: cover;
			}
		}

		.ees-user-capsule-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 0.3rem;

			.ees-user-capsule-introtext {
				max-height: 85px;
				overflow: hidden;
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	.ees-user-capsule {
		border-radius: 10px;
		.ees-user-capsule-inner {
			flex-direction: column;
			align-items: center;
			gap: 1rem;
			height: auto;

			.ees-user-capsule-image-wrapper {
				width: 150px;
				height: 150px;
			}

			.ees-user-capsule-text {
				justify-content: flex-start;
				align-items: center;
			}
		}
	}
}
