#ees-listening-party-chat {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;

	#ees-listening-party-chat-log {
		overflow-y: auto;
	}

	#ees-listening-party-chat-input {
		display: flex;
		align-items: center;
		margin: 0.5rem;
		gap: 0.5rem;

		#ees-listening-party-chat-input-field {
			font-size: 1rem;
			padding: 0 0.5rem;
			height: 2.5rem;
			border-radius: 2.5rem;
			background-color: var(--monoaccent2);
			flex: 1;
		}
		#ees-listening-party-chat-input-send {
			width: 2.5rem;
			height: 2.5rem;
			background-color: var(--eggsyellow);
			border-radius: 50%;
			margin-bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;

			svg {
				width: 1.5rem;
				height: 1.5rem;
				margin-left: 4px;
			}

			&:hover,
			&:focus-visible {
				background-color: var(--activeelement);

				svg {
					fill: var(--alwayslight2);
				}
			}
		}
	}
}

.ees-listening-party-chat-message {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	padding: 0.5rem;
	cursor: pointer;
	width: 100%;

	&.ees-listening-party-chat-self {
		flex-direction: row-reverse;
		text-align: end;

		.ees-listening-party-chat-message-content {
			align-items: flex-end;
		}
	}

	.ees-listening-party-chat-image-container {
		width: 42px;
		height: 42px;
		border-radius: 50%;
		overflow: hidden;

		.ees-listening-party-chat-image {
			width: 42px;
			height: 42px;
			opacity: 1;
			transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
			transform-origin: bottom;
		}
	}
	&:hover,
	&:focus-visible {
		outline: none;
		background-color: var(--eggsyellow);
		color: var(--alwaysdark2);

		.ees-listening-party-chat-image {
			transform: scale(1.15);
			filter: blur(0.6px);
			-ms-filter: blur(0.6px);
			opacity: 1;
			-webkit-opacity: 1;
			-moz-opacity: 1;
		}
	}

	.ees-listening-party-chat-message-content {
		display: flex;
		flex-direction: column;

		.ees-listening-party-chat-message-author {
			display: flex;
			align-items: center;
			font-size: 0.8rem;
			font-weight: bold;

			.ees-listening-party-chat-owner {
				background-color: var(--eggsyellow);
				color: var(--alwaysdark2);
				font-weight: bolder;
				font-size: 0.9em;
				padding: 0.05em 0.15em;
				border-radius: 0.15em;
				margin-left: 0.15em;
			}
		}

		.ees-listening-party-chat-message-timestamp {
			font-size: 0.7rem;
			color: var(--textlight);
		}
	}
}

#ees-chat-fixed-checker {
	position: fixed;
	top: 0;
	left: 0;
}

.ees-chat-context-menu {
	display: none;
	position: fixed;
	transform: translateY(-100%);
	width: max-content;
	border-radius: 5px 5px 5px 0;
	overflow: hidden;
	box-shadow: 2px -2px 5px var(--shadow3);

	&.ees-chat-context-menu-visible {
		display: block;
	}

	li {
		background-color: var(--menubg);
		padding: 0.5rem 0.75rem;
		color: var(--textlight);
		cursor: pointer;

		&:hover,
		&:focus-visible {
			outline: none;
			background-color: var(--highlight);
			color: var(--alwayslight);

			a {
				color: var(--alwayslight);
			}
		}
	}
}
