@use "../popouts.scss";

#ees-listening-party {
	bottom: 78px;
}

#ees-listening-party-creator {
	text-align: center;

	h3 {
		font-size: 1.25rem;
		margin-bottom: 0.5rem;
	}
	label {
		color: var(--text);
		font-size: 1.25rem;
	}
	input {
		color: var(--text);
		font-size: 1.25rem;
		background-color: var(--monoaccent2);
		text-align: center;
		margin-bottom: 1.5rem;
		margin-top: 0.5rem;
		padding: 0.5rem;
		border-radius: 0.5rem;
	}
	button {
		color: var(--alwaysdark2);
		background-color: var(--eggsyellow);
		padding: 0.5rem 1rem;
		font-size: 1.2rem;
		border-radius: 1rem;
		font-weight: bold;

		&:hover,
		&:focus-visible {
			outline: none;
			background-color: var(--activeelement);
			color: var(--monoaccent2);
		}
	}
}

#ees-existing-listening-party {
	display: flex;
	flex-direction: column;
	height: 100%;

	h3 {
		font-size: 1.15rem;
		margin-bottom: 0.25rem;
		text-align: center;
	}

	h4 {
		text-align: center;
		font-size: 1rem;
		margin-top: 0.1rem;
		margin-bottom: 0.3rem;
	}

	#ees-listening-party-tabs {
		display: flex;
		align-items: center;

		.ees-listening-party-tab-btn {
			flex: 1;
			padding-top: 0.65rem;
			padding-bottom: 0.45rem;

			svg {
				fill: var(--textlight);
			}

			&.active,
			&:hover,
			&:focus-visible {
				background-color: var(--eggsyellow);

				svg {
					fill: var(--alwaysdark2);
				}
			}
		}
	}

	#ees-listening-party-tab-content {
		flex: 1;
		overflow-y: hidden;
	}
}
