.l-contents_wrapper:not(table),
.l-contents_wrapper:not(table) .inner,
#ees-home-wrapper {
	overflow: visible;
}

.ees-track-container {
	overflow: visible;

	.ees-track-container-expand {
		width: 100%;
		height: 4rem;
		text-align: center;

		svg {
			width: 48px;
			height: 48px;
		}

		button {
			width: 100%;
			height: 100%;

			&:hover,
			&:focus-visible {
				outline: none;
				background-color: var(--eggsyellow);
				color: var(--alwaysdark2);
			}
		}
	}
}

.clearfix::before {
	border: none !important;
}

.ees-track {
	display: flex;
	cursor: pointer;
	padding: 4px;
	box-sizing: content-box;
	position: relative;
	overflow: visible;

	.ees-track-special {
		position: absolute;
		inset: 0;
		overflow: hidden;

		&.ees-track-youtube::before {
			content: "YouTube";
			position: absolute;
			text-align: center;
			top: 9px;
			left: -24px;
			padding: 0.2rem 1.5rem;
			background-color: #f00;
			color: #fff;
			font-size: 0.5rem;
			transform: rotate(-45deg);
		}

		&.ees-track-follower-only::after {
			content: "Follower Only";
			position: absolute;
			text-align: center;
			top: 24px;
			left: -39px;
			padding: 0.2rem 2.5rem;
			background-color: var(--eggsyellow);
			color: var(--alwaysdark2);
			font-size: 0.5rem;
			transform: rotate(-45deg);
		}
	}

	svg {
		fill: var(--textlight);
	}

	&:hover,
	&:focus-visible {
		outline: none;
		background-color: var(--eggsyellow);
		color: var(--alwaysdark2);

		.ees-track-info .ees-artist-name {
			color: var(--highlight);
		}

		svg {
			fill: var(--alwaysdark2);
		}

		.ees-track-expandable summary {
			outline: none;
			background-color: var(--eggsyellow);
		}
	}

	.ees-track-thumb {
		object-fit: cover;
	}

	.ees-track-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: hidden;
		flex-shrink: 1;

		.ees-track-title {
			white-space: nowrap;
		}

		.ees-artist-name {
			white-space: nowrap;
			font-size: 0.7rem;
			color: var(--textlighter);
		}

		.ees-track-details {
			display: flex;
			flex-direction: row;

			.ees-data-icon {
				width: 12px;
				height: 12px;
			}
			.ees-data-count {
				font-size: 12px;
				margin-left: 3px;
				white-space: nowrap;
			}

			& > div {
				display: flex;
				align-items: center;

				&:not(:last-child) .ees-data-count::after {
					content: "・";
				}
			}
		}
	}

	.ees-track-right {
		display: flex;
		margin-left: auto;

		.ees-track-like svg {
			fill: var(--highlight);
		}
	}

	.ees-track-expandable {
		position: absolute;
		height: min-content;
		right: 0;
		margin-top: -2px;

		summary {
			list-style: none;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: auto;
		}

		&[open] {
			.ees-track-menu {
				border-radius: 0 0 5px 5px;
				overflow: hidden;
				box-shadow: 0px 2px 5px var(--shadow3);
			}

			summary {
				align-items: flex-end;
			}
		}

		li {
			background-color: var(--menubg);
			padding: 0.5rem 0.75rem;
			color: var(--textlight);

			&:hover,
			&:focus-visible {
				outline: none;
				background-color: var(--highlight);
				color: var(--alwayslight);
			}
		}
	}

	&.ees-track-large {
		height: 100px;

		.ees-track-details {
			margin-bottom: 11px;
		}

		.ees-track-info {
			gap: 3px;

			.ees-track-title {
				font-size: 1.5rem;
			}

			.ees-artist-name {
				margin-bottom: 6px;
			}
		}

		.ees-track-thumb {
			width: 100px;
			height: 100px;
			margin-right: 24px;
		}

		.ees-track-like svg {
			width: 32px;
			height: 32px;
		}

		.ees-track-right {
			margin-right: 50px;
		}

		.ees-track-expandable {
			summary {
				height: 100px;
				width: 50px;
			}

			&[open] {
				summary {
					height: 62px;
				}
			}
		}
	}

	&.ees-track-medium {
		height: 64px;

		.ees-track-special.ees-track-youtube::before {
			content: "YouTube";
			top: 10px;
			left: -22px;
			padding: 0.1rem 1.3rem;
			background-color: #f00;
			color: #fff;
			font-size: 0.4rem;
			transform: rotate(-45deg);
		}

		.ees-track-special.ees-track-follower-only::after {
			content: "Follower Only";
			position: absolute;
			text-align: center;
			top: 19px;
			left: -31px;
			padding: 0.1rem 1.8rem;
			background-color: var(--eggsyellow);
			color: var(--alwaysdark2);
			font-size: 0.4rem;
			transform: rotate(-45deg);
		}

		.ees-track-details {
			margin-bottom: 6px;
		}

		.ees-track-info {
			gap: 3px;

			.ees-track-title {
				font-size: 1.3rem;
			}

			.ees-artist-name {
				font-size: 0.7rem;
			}
		}

		.ees-track-thumb {
			width: 64px;
			height: 64px;
			margin-right: 12px;
		}

		.ees-track-like svg {
			width: 32px;
			height: 32px;
		}

		.ees-track-right {
			margin-right: 50px;
		}

		.ees-track-expandable {
			summary {
				height: 64px;
				width: 50px;
			}

			&[open] {
				summary {
					height: 44px;
				}
			}
		}
	}

	&.ees-track-small {
		height: 40px;

		.ees-track-special.ees-track-youtube::before {
			content: "YT";
			top: 2px;
			left: -17px;
			padding: 0.1rem 1.3rem;
			background-color: #f00;
			color: #fff;
			font-size: 0.4rem;
			transform: rotate(-45deg);
		}

		.ees-track-special.ees-track-follower-only::after {
			content: "FOnly";
			position: absolute;
			text-align: center;
			top: 12px;
			left: -22px;
			padding: 0.1rem 1.8rem;
			background-color: var(--eggsyellow);
			color: var(--alwaysdark2);
			font-size: 0.4rem;
			transform: rotate(-45deg);
		}

		.ees-track-thumb {
			width: 40px;
			height: 40px;
			margin-right: 12px;
		}

		.ees-track-info {
			gap: 0;
			max-width: 120px;
			overflow: hidden;

			.ees-track-title {
				font-size: 0.8rem;
			}

			.ees-artist-name {
				margin-bottom: 2px;
			}

			.ees-track-details {
				display: none;
			}
		}

		.ees-track-right {
			margin-right: 24px;
		}

		.ees-track-like {
			display: none;
		}

		.ees-track-expandable {
			summary {
				height: 40px;
				width: 24px;
			}

			&[open] {
				summary {
					height: 32px;
				}
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	.ees-track.ees-track-large {
		height: 64px;

		.ees-track-special.ees-track-youtube::before {
			content: "YT";
			top: 2px;
			left: -17px;
			padding: 0.1rem 1.3rem;
			background-color: #f00;
			color: #fff;
			font-size: 0.4rem;
			transform: rotate(-45deg);
		}

		.ees-track-special.ees-track-follower-only::after {
			content: "FOnly";
			position: absolute;
			text-align: center;
			top: 12px;
			left: -22px;
			padding: 0.1rem 1.8rem;
			background-color: var(--eggsyellow);
			color: var(--alwaysdark2);
			font-size: 0.4rem;
			transform: rotate(-45deg);
		}

		.ees-track-details {
			margin-bottom: 6px;
		}

		.ees-track-info {
			gap: 3px;

			.ees-track-title {
				font-size: 1.3rem;
			}

			.ees-artist-name {
				font-size: 0.7rem;
				margin-bottom: 0;
			}
		}

		.ees-track-thumb {
			width: 64px;
			height: 64px;
			margin-right: 12px;
		}

		.ees-track-like svg {
			width: 32px;
			height: 32px;
		}

		.ees-track-right {
			margin-right: 50px;
		}

		.ees-track-expandable {
			summary {
				height: 64px;
				width: 50px;
			}

			&[open] {
				summary {
					height: 44px;
				}
			}
		}
	}
}
