.m-pagetitle {
	display: none;
}

.ees-ranking-wrapper {
	max-width: 1240px;
	margin: 0 auto;

	h1 {
		text-align: center;
	}
}

.ranking_category {
	margin-bottom: 2rem;
}

.dayweekNav {
	max-width: 1000px;
	margin: 0 auto;
	margin-bottom: 4rem;
	li {
		a,
		span {
			padding: 0.25rem 0;
		}
	}
}

.m-search.artistranking:not(table):not(table) .m-ranking_counter {
	width: 20px;
	height: 20px;
	position: relative !important;

	&::after {
		position: relative !important;
		right: 0 !important;
		bottom: 0 !important;
		height: 100%;
		display: flex;
		align-items: center;
	}
}

.ees-carousel-rank {
	display: flex;
	gap: 5px;
}
