.m-pagetitle {
	display: none;
}

.ees-ranking-wrapper {
	max-width: 1240px;
	margin: 0 auto;

	h1 {
		text-align: center;
	}
}

.ranking_category {
	margin-bottom: 2rem;
	padding-top: 20px;
	text-align: center;
	display: flex;
	justify-content: center;

	li {
		border-left: 1px solid #ccc;
		padding: 0px 10px;

		&:first-child {
			border-left: none;
		}

		& > * {
			font-weight: bold;
		}
	}
}

.dayweekNav {
	max-width: 1000px;
	margin: 0 auto;
	margin-bottom: 4rem;
	font-weight: 500;
	display: flex;
	width: 100%;

	li {
		flex-grow: 1;

		a,
		span {
			padding: 0.25rem 0;
			display: block;
			text-align: center;
			line-height: 3em;
		}
	}
}

.m-search.artistranking:not(table):not(table) .m-ranking_counter {
	width: 20px;
	height: 20px;
	position: relative !important;
	filter: var(--inverseinverted);

	&::after {
		position: relative !important;
		right: 0 !important;
		bottom: 0 !important;
		height: 100%;
		display: flex;
		align-items: center;
	}
}

.ees-carousel-rank {
	display: flex;
	gap: 5px;
}

.ees-rank-track-container {
	.ees-track-label {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100px;
		font-size: 24px;
	}

	.ees-track {
		&:nth-child(-n + 3) {
			color: var(--alwaysdark2);

			.ees-track-info .ees-artist-name {
				color: var(--highlight);
			}

			svg {
				fill: var(--alwaysdark2);
			}

			.ees-track-expandable summary {
				background-color: transparent;
			}

			.ees-track-like svg {
				fill: var(--highlight);
			}
		}

		&:first-child {
			background-color: var(--gold);

			&:hover,
			&:focus-visible {
				outline: none;
				background-color: var(--gold-hover);
			}
		}

		&:nth-child(2) {
			background-color: var(--silver);

			&:hover,
			&:focus-visible {
				outline: none;
				background-color: var(--silver-hover);
			}
		}

		&:nth-child(3) {
			background-color: var(--bronze);

			&:hover,
			&:focus-visible {
				outline: none;
				background-color: var(--bronze-hover);
			}
		}
	}
}

@media screen and (max-width: 860px) {
	.ranking_category li {
		font-size: 14px;
	}
}
